.resource,
.resource a:link,
.resource a:visited  {
color: #ccc;

} 
p.ng-binding{
	color:#fff;
}

input[type="text"].input-xlarge {
	width:70%;

}

button[type="submit"] {
	background-color: #50B2A2;
	border:0;
	padding:20px 10px
}

.ng_click {
	cursor: pointer;
}