<div class="col-md-6">
  <!-- <a class="blogpost page-transition" href="#blog-single" onclick="gotoPageWithTrans6(7)"> -->
  <%= link_to blog_post, class: 'blogpost ' do %>
    <span class="figcap"></span>
    <div class="row">
      <div class="col-sm-3">
      <%= image_tag "team/michael.png", width: 70, height: 70 %>
      </div>

      <div class="col-sm-9">
        
        <h2><%= blog_post.title %></h2>
        <span class="post-meta"><%= blog_post.meta %></span>
      </div>
    </div>

    <p>ChiefNullam interdum accumsan diam, dictum tempor nisl pretium. Etiam nulla velit, tempor vitae dolor eget, aliquam posuere nulla. Morbi vestibulum dui ut orci commodo, ut ornare dui mattis... </p>
  <% end %>
</div>