<!--Content-->
<section>
  <div class="container">
    <div class="row">
      <%= render partial: 'post', collection: @blog_posts , as: :blog_post %>
    </div>
  </div>

  <div class="container blogpost-row">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
      <a class="load-more-btn" href="#"><span class="figcap"></span><p>Load more</p></a>
    </div>
  </div>
</section>