<section class="row-fluid">
  <div class="single-post-content">
    <div class="container">
      <h2><%= @blog_post.title %></h2>
      <span class="post-meta"><%= @blog_post.meta %>
      <p><%= @blog_post.body.html_safe %></p>
    </div>
  </div>
</section>
