<!--About Screen-->
  <article class="pt-page pt-page-2 bg-image6" id="about">
    <div class="outer-wrapper overlay-<%= overlay_color %>">
      <!--Header-->
      <%= render 'layouts/header', :@header => "About" %>     
      <!--Content-->
      <section class="row-fluid">
        <div class="container">
          <div class="quotation span12 clearfix">
          <div class="quotation-mark"></div>
            <p>Adelaide has a fast growing Startup culture. Adelaide has a fast growing Startup culture.  Adelaide has a fast growing Startup culture.  Adelaide has a fast growing Startup culture.  Adelaide has a fast growing Startup culture.  Adelaide has a fast growing Startup culture.  Adelaide has a fast growing Startup culture.   </p>
            <span class="quotation-author">Mr Entrepreneur, a great company</span>
        </div>
        </div>
        <div class="container">
          <div class="span6">
            <p>Startup Adelaide exists to bring together ...Startup Adelaide exists to bring together ...Startup Adelaide exists to bring together ...Startup Adelaide exists to bring together ...Startup Adelaide exists to bring together ...Startup Adelaide exists to bring together ...Startup Adelaide exists to bring together ...Startup Adelaide exists to bring together ...Startup Adelaide exists to bring together ...</p>
          </div>
          <div class="span6">
            <p>This website is a starting point for entrepreneurs wanting to ... This website is a starting point for entrepreneurs wanting to ...This website is a starting point for entrepreneurs wanting to ...This website is a starting point for entrepreneurs wanting to ...This website is a starting point for entrepreneurs wanting to ...This website is a starting point for entrepreneurs wanting to ...This website is a starting point for entrepreneurs wanting to ...</p>
          </div>
        </div>
      </section>
      <div class="push"><!--//--></div><!--Ryan Fait's Sticky Footer-->
    </div>
    <!--Footer-->
    <footer>
      <div class="container">
        <p>Copyright &copy; ItemBridge inc., 2013</p>
      </div>
    </footer>
  </article>