<!--About Screen-->
  <article class="pt-page pt-page-2 bg-image2" id="about">
    <div class="outer-wrapper overlay-green1">
      <!--Header-->
      <%= render 'layouts/header', :@header => "About" %>     
      <!--Content-->
      <section class="row-fluid">
        <div class="container">
          <div class="quotation span12 clearfix">
          <div class="quotation-mark"></div>
            <p>Duis tincidunt erat quam. Etiam placerat sapien elit. Pellentesque egestas ornare sagittis. Sed augue lorem, dignissim eget bibendum vitae, scelerisque eget justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
            <span class="quotation-author">Mark Nikson, General director</span>
        </div>
        </div>
        <div class="container">
          <div class="span6">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas neque diam, luctus at laoreet in, auctor ut tellus. Etiam enim lacus, ornare et tempor et, rhoncus rhoncus sem. Cras in velit ante, eget pellentesque sem.</p>
          </div>
          <div class="span6">
            <p>Praesent rhoncus nunc vitae metus condimentum viverra. Fusce sed est orci, vel condimentum felis. Suspendisse ullamcorper vulputate sagittis. Quisque ullamcorper euismod diam at bibendum. Duis tincidunt erat quam. Etiam placerat sapien.</p>
          </div>
        </div>
      </section>
      <div class="push"><!--//--></div><!--Ryan Fait's Sticky Footer-->
    </div>
    <!--Footer-->
    <footer>
      <div class="container">
        <p>Copyright &copy; ItemBridge inc., 2013</p>
      </div>
    </footer>
  </article>