<!--Contact Us Screen-->
  <article class="pt-page pt-page-5 bg-image5" id="contacts">
    <div class="outer-wrapper overlay-pink">
      <!--Header-->
      <%= render 'layouts/header', :@header => "Contact" %>
      <!--Content-->
      <section class="row-fluid">
        <div class="container">
          <div class="span4 addspace">
            <h2>Address</h2>
            <p>49 Archdale, 2B Charleston, New York City,<br/>USA</p>
          </div>
          <div class="span4 addspace">
            <h2>Phone</h2>
            <p>Support: +777 (100) 1234 (10am - 6pm)</p>
            <p>Director: +777 (100) 1243 (6am - 11pm)</p>
          </div>
          <div class="span4 addspace">
            <h2>Email</h2>
            <p>Support: <a href="mailto:support@example.com" title="mailto:support@example.com">support@example.com</a></p>
            <p>Director: <a href="mailto:chief@example.com" title="mailto:chief@example.com">chief@example.com</a></p>
          </div>
        </div>
      </section>
      <div class="push"><!--//--></div><!--Ryan Fait's Sticky Footer-->
    </div>
    <!--Footer-->
    <%= render 'layouts/footer' %>
  </article>