<!--Our Team Screen-->
<article class="pt-page pt-page-3 bg-image3" id="creators">
  <div class="outer-wrapper overlay-<%= overlay_color %>">
    <!--Header-->
    <%= render 'layouts/header', :@header => "Who made this?" %>
    <!--Content-->
    <section class="row-fluid">
      <div class="container">
        <div class="span12">
          <p>This site was built with love out of the Majoran Distillery, Adelaide's premier technology coworking space.</p>
        </div>
      </div>
      <div class="container">
        <div class="span4 team-mate">
          <span class="figcap"></span>
          <a href="#" title="Brandy Content">
            <img src="assets/team/brandy.png" alt="">
            <h2>Brandy Content</h2>
            <h3>Site construction</h3>
          </a>
          <p>Brandy Content, a proudly South Australian media and development company. <a href="http://www.chechorley.com/" target="_blank">Read more</a></p>
          <ul class="social-bar2">
            <li><a class="facebook-black" href="#" title="Facebook" target="_blank"></a></li>
            <li><a class="twitter-black" href="#" title="Twitter" target="_blank"></a></li>
            <li><a class="googleplus-black" href="#" title="Google+" target="_blank"></a></li>
            <li><a class="linkedin-black" href="#" title="LinkedIn" target="_blank"></a></li>
            <li><a class="behance-black" href="#" title="Behance" target="_blank"></a></li>
          </ul>
        </div>
        <div class="span4 team-mate">
          <span class="figcap"></span>
          <a href="#" title="Someone else">
            <img src="assets/team/brin.jpg" alt="">
            <h2>Che Chorley</h2>
            
            <h3>All Photography</h3>
          </a>
          <p>Ché Chorley is a nationally and internationally published photographer, available for commercial, editorial and commissioned work. <a href="http://www.chechorley.com/" target="_blank">Read more</a></p>
          <ul class="social-bar2">
            <li><a class="facebook-black" href="#" title="Facebook" target="_blank"></a></li>
            <li><a class="twitter-black" href="#" title="Twitter" target="_blank"></a></li>
            <li><a class="googleplus-black" href="#" title="Google+" target="_blank"></a></li>
            <li><a class="linkedin-black" href="#" title="LinkedIn" target="_blank"></a></li>
            <li><a class="behance-black" href="#" title="Behance" target="_blank"></a></li>
          </ul>
        </div>


        <div class="span4 team-mate">
          <span class="figcap"></span>
          <a href="#" title="Michael Dawson">
            <img src="assets/team/majoran.png" alt="">
            <h2>The Majoran Distillery</h2>
            <h3>Coworking Space</h3>
          </a>
          <p>A place to take technology startups to the next level. <a href="http://www.chechorley.com/" target="_blank">Read more</a></p>
          <ul class="social-bar2">
            <li><a class="facebook-black" href="#" title="Facebook" target="_blank"></a></li>
            <li><a class="twitter-black" href="#" title="Twitter" target="_blank"></a></li>
            <li><a class="googleplus-black" href="#" title="Google+" target="_blank"></a></li>
            <li><a class="linkedin-black" href="#" title="LinkedIn" target="_blank"></a></li>
            <li><a class="behance-black" href="#" title="Behance" target="_blank"></a></li>
          </ul>
        </div>
      </div>
    </section>
    <div class="push"><!--//--></div><!--Ryan Fait's Sticky Footer-->
  </div>
  <!--Footer-->
  <%= render 'layouts/footer' %>
</article>