<!--Home Screen-->
<article class="pt-page pt-page-1 bg-image1" id="home">
  <div class="outer-wrapper">
    <!--Header-->
    <header class="row-fluid">
      <div class="container">
        <div class="span8 logo">
          <h1>Startup Adelaide</h1>
        </div>
        <div class="span4 intro">
          <h2>an explorer's guide</h2>
        </div>
      </div>
    </header>
    <!--Navigation-->
    <nav class="navi row-fluid transparent">
      <div class="container">
        <div class="span12 clearfix">
          <div class="span4">
            <a class="small-navi about page-transition" href="#about" onclick="gotoPageWithTrans1(1)" title="About Us"><i class="navi-icons about-icon"></i>About</a>
            <a class="small-navi feedback page-transition" href="#feedback" onclick="gotoPageWithTrans1(6)" title="Feedback"><i class="navi-icons feedback-icon"></i>Contact</a>
            <a class="middle-navi resume" href="#starting" onclick="gotoPageWithTrans1(3)" title="Resume"><i class="navi-icons contacts-icon"></i>Where to start?</a>
          </div>
          <div class="span4">
            <a class="big-navi contacts page-transition" href="#explore" onclick="gotoPageWithTrans1(4)" title="Explore"><i class="navi-icons works-icon"></i>Explore</a>
          </div>

          <!--div class="span4 twitter_box">
            <a class="twitter-timeline" height="298" href="https://twitter.com/Startup_ADL" data-widget-id="372936257866711041">Tweets by @Startup_ADL</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div-->

          <div class="span4">
            <div class = 'flexslider big-navi navi-icons twitter'>
              
              <i class="icon-3x icon-twitter"></i>
              #startupadl
              <ul class="slides" id="twitter">

              </ul>
            </div>
            <!--a class="small-navi blog page-transition" href="#creators" onclick="gotoPageWithTrans1(5)" title="Creators"><i class="navi-icons blog-icon"></i>Creators</a>
            <a class="small-navi feedback page-transition" href="#feedback" onclick="gotoPageWithTrans1(6)" title="Feedback"><i class="navi-icons feedback-icon"></i>Feedback</a-->
          </div>



        </div>
      </div>
    </nav>
          <%#= render 'twitter' %>
    <div class="push"><!--//--></div><!--Ryan Fait's Sticky Footer-->
  </div> 
  <!--Footer-->
  <%= render 'layouts/footer' %>
</article>