<!--Single Blog Post Screen-->
<article class="pt-page pt-page-8 bg-image6" id="blog-single">
  <div class="outer-wrapper overlay-orange">
    <!--Header-->
    <%= render 'layouts/header', :@header => "Single" %>
    <!--Content-->
    <section class="row-fluid">
    	<div class="single-post-content">
        <div class="container">
        	<h2>Etiam Tristique Consectetu</h2>
          <span class="post-meta">Mike Example, 03.11.2012&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="comments-icon"></i>&nbsp;3</span>
          <p>Etiam enim lacus, ornare et tempor et, rhoncus rhoncus sem. Cras in velit ante, eget pellentesque sem. Duis tincidunt erat quam. Etiam placerat sapien. Fusce sed est orci, vel condimentum felis. Phasellus et enim sed est dictum luctus a in nibh. In metus dolor, interdum eget consectetur vel, ornare sodales felis.</p>
          <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis tincidunt erat quam. Etiam placerat sapien elit. Pellentesque egestas ornare sagittis. Sed augue lorem, dignissim eget bibendum vitae, scelerisque eget justo.</p>
        </div>
        <div class="container comments">
        	<h2>Comments</h2>
          <div class="comments-wrapper clearfix">
            <div class="timeline"><span class="timeline-track"></span><span class="timeline-arrow"></span></div>
              <div class="comment">
                <span class="figcap"></span>
                <span class="pointer-right"></span>
                <span class="comment-meta">Mike Example, 03.11.2012, 10:45</span>
                <p>ChiefNullam interdum accumsan diam, dictum tempor nisl pretium. Etiam nulla velit, tempor vitae dolor eget, aliquam posuere nulla. Morbi vestibulum dui ut orci commodo, ut ornare dui mattis.</p>	
              </div>
              <div class="comment last-col">
                <span class="figcap"></span>
                <span class="pointer-left"></span>
                <span class="comment-meta">Mike Example, 03.11.2012, 10:50</span>
                <p>ChiefNullam interdum accumsan diam, dictum tempor nisl pretium. Etiam nulla velit, tempor vitae dolor eget, aliquam posuere nulla. Morbi vestibulum dui ut orci commodo, ut ornare dui mattis.</p>	
              </div>
              <div class="comment">
                <span class="figcap"></span>
                <span class="pointer-right"></span>
                <span class="comment-meta">Mike Example, 03.11.2012, 10:55</span>
                <p>ChiefNullam interdum accumsan diam, dictum tempor nisl pretium. Etiam nulla velit, tempor vitae dolor eget, aliquam posuere nulla. Morbi vestibulum dui ut orci commodo, ut ornare dui mattis. Maecenas quis diam vehicula, consequat purus in, molestie lorem. Donec in pharetra ante. Pellentesque faucibus ligula neque.</p>	
              </div>
              <div class="comment last-col">
                <span class="figcap"></span>
                <span class="pointer-left"></span>
                <span class="comment-meta">Mike Example, 03.11.2012, 10:59</span>
                <p>ChiefNullam interdum accumsan diam, dictum tempor nisl pretium. Etiam nulla velit, tempor vitae dolor eget, aliquam posuere nulla. Morbi vestibulum dui ut orci commodo, ut ornare dui mattis.</p>	
              </div>
            </div>
        </div>
        <div class="container comment-form">
          <h2>Leave a Reply</h2>
          <form method="post" name="comments-form" id="comments-form" class="clearfix">
            <fieldset class="span6">
              <span id="sprytextfield3">
                <input type="text" name="name" id="comment-author-name">
              </span>
              <span id="sprytextfield4">
                <input type="text" name="email" id="comment-author-email">
              </span>
            </fieldset>
            <fieldset class="span6">
              <span id="sprytextarea2">
                <textarea name="message" id="comment" cols="45" rows="5"></textarea>
              </span>
            </fieldset>
            <input name="submit" type="submit" class="submit" value="Submit">
          </form>
        </div>
      </div>
    </section>
    <div class="push"><!--//--></div><!--Ryan Fait's Sticky Footer-->
        </div>
        <!--Footer-->
        <footer>
          <div class="container">
            <p>Copyright &copy; ItemBridge inc., 2013</p>
          </div>
        </footer>
      </article>
		
      
