
  <article class="pt-page pt-page-5 bg-image4" id="contacts">
    <div class="outer-wrapper overlay-<%= @overlay_color %>">
      <!--Header-->
      <%= render 'layouts/header', :@header => "Search" %>
      <!--Content-->
      <section class="row-fluid">
        
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>    
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.js"></script>
        <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>

        
        <script src="assets/elastic.min.js"></script>
        <script src="assets/elastic-angular-client.min.js"></script>    
        <script src="assets/controllers.js"></script>
        <script src="assets/services.js"></script>


      </section>
    </div>

  <%= render 'layouts/footer' %>
  </article>