<!--Our Team Screen-->
<article class="pt-page pt-page-3 bg-image3" id="team">
  <div class="outer-wrapper overlay-green2">
    <!--Header-->
    <%= render 'layouts/header', :@header => "Team" %>
    <!--Content-->
    <section class="row-fluid">
      <div class="container">
        <div class="span12">
          <p>Etiam enim lacus, ornare et tempor et, rhoncus rhoncus sem. Cras in velit ante, eget pellentesque sem. Duis tincidunt erat quam. Etiam placerat sapien. Fusce sed est orci, vel condimentum felis. Phasellus et enim sed est dictum luctus a in nibh. In metus dolor, interdum eget consectetur vel, ornare sodales felis.</p>
        </div>
      </div>
      <div class="container">
        <div class="span4 team-mate">
          <span class="figcap"></span>
          <a href="#" title="Michael Jonson">
            <img src="img/team/johnson.jpg" alt="Michael Jonson">
            <h2>Michael Jonson</h2>
            <h3>Chief Executive Officer</h3>
          </a>
          <p>Praesent rhoncus nunc vitae metus condiment viverra. Fusce sed est orci, condimentum felis. Suspendisse ullamcorper.</p>
          <ul class="social-bar2">
            <li><a class="facebook-black" href="#" title="Facebook" target="_blank"></a></li>
            <li><a class="twitter-black" href="#" title="Twitter" target="_blank"></a></li>
            <li><a class="googleplus-black" href="#" title="Google+" target="_blank"></a></li>
            <li><a class="linkedin-black" href="#" title="LinkedIn" target="_blank"></a></li>
            <li><a class="behance-black" href="#" title="Behance" target="_blank"></a></li>
          </ul>
        </div>
        <div class="span4 team-mate">
          <span class="figcap"></span>
          <a href="#" title="Mike Brin">
            <img src="img/team/brin.jpg" alt="Mike Brin">
            <h2>Mike Brin</h2>
            <h3>Technical Director</h3>
          </a>
          <p>Praesent rhoncus nunc vitae metus condiment viverra. Fusce sed est orci, condimentum felis. Suspendisse ullamcorper.</p>
          <ul class="social-bar2">
            <li><a class="facebook-black" href="#" title="Facebook" target="_blank"></a></li>
            <li><a class="twitter-black" href="#" title="Twitter" target="_blank"></a></li>
            <li><a class="googleplus-black" href="#" title="Google+" target="_blank"></a></li>
            <li><a class="linkedin-black" href="#" title="LinkedIn" target="_blank"></a></li>
            <li><a class="behance-black" href="#" title="Behance" target="_blank"></a></li>
          </ul>
        </div>
        <div class="span4 team-mate">
          <span class="figcap"></span>
          <a href="#" title="Rayan Green">
            <img src="img/team/green.jpg" alt="Rayan Green">
            <h2>Rayan Green</h2>
            <h3>Art Director</h3>
          </a>
          <p>Praesent rhoncus nunc vitae metus condiment viverra. Fusce sed est orci, condimentum felis. Suspendisse ullamcorper.</p>
          <ul class="social-bar2">
            <li><a class="facebook-black" href="#" title="Facebook" target="_blank"></a></li>
            <li><a class="twitter-black" href="#" title="Twitter" target="_blank"></a></li>
            <li><a class="googleplus-black" href="#" title="Google+" target="_blank"></a></li>
            <li><a class="linkedin-black" href="#" title="LinkedIn" target="_blank"></a></li>
            <li><a class="behance-black" href="#" title="Behance" target="_blank"></a></li>
          </ul>
        </div>
      </div>
    </section>
    <div class="push"><!--//--></div><!--Ryan Fait's Sticky Footer-->
  </div>
  <!--Footer-->
  <footer>
    <div class="container">
      <p>Copyright &copy; ItemBridge inc., 2013</p>
    </div>
  </footer>
</article>