<section class="container">
	<div class="clearfix">
	  <div class="tw-feed transparent">
	    <p>Duis tincidunt erat quam. Etiam placerat sapien elit. Pellentesque egestas ornare sagittis. Sed augue lorem, dignissim eget bibendum vitae, scelerisque eget justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
	  <div class="tw-feed-author">
	    <a href="#" title="@Nikson">@SWAdl</a><span>, 10 min ago</span>
	  </div>
	  	  </div>

	</div>
</section>