 <!--Blog Screen-->
  <article class="pt-page pt-page-6 bg-image6" id="blog">
    <div class="outer-wrapper overlay-<%= overlay_color %>">
      <!--Header-->
      <%= render 'layouts/header', :@header => "Our Vision" %>

      <!--Content-->
      <section class="row-fluid">
        <div class="container blogpost-row">
        Looks like we don't have one! Awkward!
        </div>
      </section>
      <div class="push"><!--//--></div><!--Ryan Fait's Sticky Footer-->
    </div>
    <!--Footer-->
    <%= render 'layouts/footer' %>
  </article>