
<!--Content-->
<section class="row-fluid">
  <div class="container">
    <div class="quotation col-sm-12 clearfix">
    <!--div class="quotation-mark"></div-->
      <p><strong>Startup Adelaide</strong> is a not-for-profit organisation that exists to foster and support the Adelaide tech startup sector.</p>
      <span class="quotation-author">For entrepreneurs, by entrepreneurs</span>
  </div>
  </div>
  <div class="container">
    <div class="col-sm-6">
      <p>
      Startup Adelaide exists to 
      <ul>
        <li>
          promote and advance in the state of South Australia the Information and Communications Technology field;
        </li>
        <li>
          provide, or procure the provision of, educational resources, training materials, seminars and lectures relevant to participants in the Information and Communications Technology field;
        </li>
        <li>
          and provide, or procure the provision of, networking and social events for participants in the Information and Communications Technology field.
        </li>
      </ul>
      </p>
    </div>
    <div class="col-sm-6">
      <p>
        This website is a starting point for entrepreneurs wanting to take the plunge into entrepreneurship in Adelaide. Head to the <%= link_to "Explore", explore_path %> section to explore events and groups within the community.
      </p>
    </div>
  </div>
</section>
