
<!--Content-->
<section>
  <div class="container">
    <div class="row">
      
      <div class="span6">
        <a class="blogpost page-transition" href="#blog-single" onclick="gotoPageWithTrans6(7)">
          <span class="figcap"></span>
          <h2>Etiam Tristique Consectetu</h2>
          <span class="post-meta">Mike Example, 03.11.2012<i class="comments-icon"></i>&nbsp;3</span>
          <p>ChiefNullam interdum accumsan diam, dictum tempor nisl pretium. Etiam nulla velit, tempor vitae dolor eget, aliquam posuere nulla. Morbi vestibulum dui ut orci commodo, ut ornare dui mattis... </p>
        </a>
      </div>
    </div>
  </div>

  <div class="container blogpost-row">
    <a class="load-more-btn" href="#"><span class="figcap"></span><p>Load more</p></a>
  </div>
</section>
