<!--Footer-->
<footer>
	<div class="container">
		<h2>Copyright &copy; <%= link_to "Majoran Distillery", "http://majorandistillery.com", :target=>"_blank" %>, <%= Date.today.year %></h2>
	</div>
</footer>