<!--Footer-->
<footer>
	<div class="container">
		<h2>Copyright &copy; <%= Date.today.year %>, <%= link_to "Majoran Distillery", "http://majorandistillery.com", :target=>"_blank" %> <%= yield(:copyright) %> </h2>
	</div>
</footer>