<header class="row-fluid">
  <div class="container">
    <div class="col-sm-2 relative">
    	<div class="page-navi">
      	<%= link_to root_path, class: "home-page page-transition" do %>
          
        <% end %>
      </div>
    </div>

    <div class="col-sm-7">
      <h1><%= @header %></h1> 
    </div>
    <div class="col-sm-3">
      <%= render 'layouts/nav' %>
    </div>
  </div>
</header>