<header class="row-fluid">
  <div class="container">
    <div class="span1 relative">
    	<div class="page-navi">
      	<a class="home-page page-transition" href="#home" onclick="gotoPageWithTrans2(0)" title="Go Home"></a>
      </div>
    </div>

    <div class="span8">
      <h1><%= @header %></h1> 
    </div>
    <div class="span3">
      <%= render 'layouts/nav' %>
    </div>
  </div>
</header>