<nav class="submenu page4-submenu">
  <ul>
    <li><a href="#about" class="page-transition" onclick="gotoPageWithTrans5(1)">About Us</a></li>
    <li><a href="#team" class="page-transition" onclick="gotoPageWithTrans5(2)">Our Team</a></li>
    <li class="current"><a href="#works">Our Works</a></li>
    <li class="inline"><a href="#contacts" class="page-transition" onclick="gotoPageWithTrans4(4)">Contact Us</a></li>
    <li><a href="#blog" class="page-transition" onclick="gotoPageWithTrans4(5)">Our Blog</a></li>
    <li><a href="#feedback" class="page-transition" onclick="gotoPageWithTrans4(6)">Feedback</a></li>
  </ul>
</nav>