<nav class="submenu page6-submenu">
	<ul>
	  <li><a href="#about" class="page-transition" onclick="gotoPageWithTrans5(1)">About</a></li>
	  <li><a href="#feedback" class="page-transition" onclick="gotoPageWithTrans1(6)">Feedback</a></li>
	  <li><a href="#starting" class="page-transition" onclick="gotoPageWithTrans1(3)">Where to start</a></li>
	  <!--li><a href="#vision" class="page-transition" onclick="gotoPageWithTrans5(2)">Our Vision</a></li-->
	  <li><a href="#explore" class="page-transition" onclick="gotoPageWithTrans1(4)">Explore</a></li>
	  <!--li><a href="#creators" class="page-transition" onclick="gotoPageWithTrans4(5)">Creators</a></li-->
	  
	</ul>
</nav>